@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '_variables.scss';

%efectos_subMenu_visible {
    opacity: 1;
    transform: translateY(0%) translateX(0%);
    transition: opacity .5s, ease-in-out, transform .5s linear;
    // height: calc(41px * 2);
}


@mixin subMenu($numero) {
    //Función utilizada para calcular el height que hay que dejar en cada bloque de menús
    height: calc(41px *$numero);
}


::-webkit-scrollbar {
    //width: 5px;
    //height: 5px;


}

::-webkit-scrollbar-button {
    //background: rgb(255, 0, 0);
}

::-webkit-scrollbar-track-piece {
    //background: black;
}

::-webkit-scrollbar-thumb {
    // background: rgb(141, 0, 0)
}

/*Estilos BG (Background)*/
.estilo1BG {
    background-color: $estilo1BG;
}

.estilo2BG {
    background-color: $estilo2BG;
}

.estilo3BG {
    background-color: $estilo3BG;
}

.estilo4BG {
    background-color: $estilo4BG;
}

.estilo5BG {
    background-color: $estilo5BG;
}

.estilo6BG {
    background-color: $estilo6BG;

}

.estilo7BG {
    background-color: $estilo7BG;
}

/*Estilos FG (Foreground)*/
.estilo1FG {
    color: $estilo1FG !important;
}

.estilo2FG {
    color: $estilo2FG !important;
}

.estilo3FG {
    color: $estilo3FG !important;
}

.estilo4FG {
    color: $estilo4FG !important;
}

.estilo5FG {
    color: $estilo5FG !important;
}

.estilo6FG {
    color: $estilo6FG !important;

}

.estilo7FG {
    color: $estilo7FG !important;
}

$densidad: 5px;
$densidad2: 10px;
$colorFondo1: rgba(255, 255, 255, 0);
$opacidad: 1;

.estilo1BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo1BG, $estilo1BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo2BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo2BG, $estilo2BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo3BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo3BG, $estilo3BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo4BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo4BG, $estilo4BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo5BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo5BG, $estilo5BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo6BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo6BG, $estilo6BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

.estilo7BG-SinConfirmar {
    background-color: $colorFondo1;
    opacity: $opacidad;
    background: repeating-linear-gradient(-45deg, $estilo7BG, $estilo7BG $densidad, $colorFondo1 $densidad, $colorFondo1 $densidad2);
}

div.navGeneral {
    $height1: 25px;
    $width1: 25px;

    .perfilNav a {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .estilos {
        border-radius: 5px;
        height: $height1;
        width: $width1;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            height: $height1;
            width: $width1;
            font-size: 13px;
        }
    }

}

div.fondoPerfil { //Si en algún momento hay usuarios
    padding: 5px 4px;
    border-radius: 10px;
    font-weight: 600;
    margin: auto auto;

    &.ampliacion {
        padding: 15px 25px !important;

    }

    &.estilo1 {
        background-color: $estilo1BG;
        color: $estilo1FG;
    }

    &.estilo2 {
        background-color: $estilo2BG;
        color: $estilo2FG;
    }

    &.estilo3 {
        background-color: $estilo3BG;
        color: $estilo3FG;
    }

    &.estilo4 {
        background-color: $estilo4BG;
        color: $estilo4FG;
    }

    &.estilo5 {
        background-color: $estilo5BG;
        color: $estilo5FG;
    }

    &.estilo6 {
        background-color: $estilo6BG;
        color: $estilo6FG;
    }

    &.estilo7 {
        background-color: $estilo7BG;
        color: $estilo7FG;
    }

}

a{
    text-decoration: none;
    color: black;
}





body {
    font-family: $fuente;
    background-color: $colorFondo;

    display: grid;

    &.inicio { // Principal disposición de la página (poder ocultar menú)
        grid-template-columns: 15% 85%;

    }
    &.inicioSinMenu{
        grid-template-columns: 0 100%;
    }


    .tooltip {
        position: fixed;
        padding: 2px 5px;
        border: 1px solid #b3c9ce;
        border-radius: 4px;
        text-align: center;
        font: normal 14px/1.3 $fuente;
        color: #333;
        background: #fff;
        // box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }



    div.sidebar {
        background-color: $colorFondo;
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
        overflow-y: auto;


        div.logo {
            img {
                @include logoEmpresa();
            }
        }






        div.botonesNav {

            padding: 6px;
            border-radius: 8px;
            margin: 0px 10px;
            display: flex;
            border: 0.5px solid transparent;

            &.especial {
                margin-top: 80px !important;
                margin: 0px 10px;
                height: 50px !important;
                padding: 0;

                display: flex;
                align-items: center;
                justify-content: center;


                div.imgPersonalizada {
                    width: 28px;
                    height: 28px;
                    display: flex;
                    border: 1px solid #F4F4F5;
                    border-radius: 10px;




                    span {
                        margin: auto 0;
                        font-weight: 550;
                        padding: 0;
                    }
                }
            }


            a {
                display: contents;
            }



            &:hover,
            &.active {
                background-color: $colorHoverMenu;
                border: .5px solid transparent;
            }

            img {
                padding: 1% 1% 1% 1%;
            }

            /*Se pasa de div a span, para que semánticamente se mantenga más correcto*/
            span,
            div {
                padding: 1% 3%;
                width: 100%;
                @include fuente(500, 14px, rgb(30, 30, 49));

            }

            .expandirMenu {
                padding-right: 5%;
                display: flex;
                width: 30px;


            }

            .flecha {
                background-color: transparent;
                border: transparent 1px solid;
                border-radius: 4px;

                &:hover {
                    background-color: #c9c9c9;
                    cursor: pointer;
                }

                img {
                    height: 12px;
                    width: 12px;
                    margin: auto auto;
                }
            }
        }

        /*Jerarquía de subBotones (Para 'subcategorias' dentro de 'categorias'
        -subBotones
            -a
                -subBotonesNav
                    -contenedorSubB

        - subBotones (Agrupa todos los subBotones de forma que queden compactos en una clase contenedora, y también crea una línea que contendrán todos los subBotones en gris)
        - a (Está inmediatamente después para que cada elemento sea un enlace y no su texto sino todo el div)
        - subBotonesNav (Añade un margen entre cada elemento y es el botón en si (junto a <a>) y además cuando tiene la clase active, se coloca una línea vertical del tamaño del botón para indicarnos que se encuentra en dicho botón, también permite añadir margin hacia arriba y hacia abajo (sin alterar la línea active))
        - contenedorSubB (Permite añadir margen y padding de izquierda a derecha), si añadimos hacia arriba o hacia abajo se tiene en cuenta en la linea de 'subBotonesNav.active'
        */

        div.subBotones {

            border-left: 2px solid #E2E2E5;
            font-weight: 500;
            margin-left: 28px;

            &.hidden {
                transform: translateY(0%) translateX(-120%);
                opacity: 0;
                height: 0px;
                transition: transform .5s linear, opacity .5s linear, height .5s linear;

            }


            &.visible {
                @extend %efectos_subMenu_visible;

                &.Bandeja {
                    @include subMenu(2)
                }

                &.Perfil {
                    @include subMenu(2)
                }

                &.Empleados {
                    @include subMenu(2)
                }

                &.Calendario {
                    @include subMenu(2)
                }
            }


            a {

                border-radius: 8px;
                display: flex;
                @include fuente(400, 14px, rgb(30, 30, 49));

                width: 100%;

                div.subBotonesNav {
                    margin-top: $margen_Top_Bottom_SubBotones;
                    margin-bottom: $margen_Top_Bottom_SubBotones;

                    &.active,
                    &:hover {
                        border-left: 2px solid #515164;
                        margin-left: -2px;
                    }
                }

            }



            .contenedorSubB {
                margin-left: 20px;
            }

        }


        .tituloNav {
            margin-top: 25px;
            margin-bottom: 15px;
            margin-left: 1%;
        }

        .navTexto {
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: 700;

        }




    }



    .submain {
        background-color: white;
        border-radius: 18px;
        box-shadow: $boxShadowPanel;
    }

    div.paneles {

        &.inicio {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 35vh 35vh;
            overflow-y: auto;
            gap: 20px;
            padding: 0px 10px;


            div.panel {
                display: flex;
                flex-direction: column;
                background-color: white;
                //border: .25px solid $colorBorde;
                border-radius: 10px;
                box-shadow: $boxShadowPanel;

                height: 100%;
                width: 100%;
                box-sizing: border-box;
                max-width: 100%;
                justify-content: center;
                margin: auto auto;
                transition: all .2s ease;


                div.encabezado {
                    @include fuente(600, 14px, rgb(81, 81, 100));
                    border-bottom: .25px solid $colorBorde;
                    background-color: white;
                    border-radius: 20px 20px 0px 0px;

                    p {
                        margin: 3% 5%;
                    }
                }


                div.contenido {
                    //@include alinearFlexCentrado();
                    display: block;
                    flex-direction: row;
                    background-color: white;
                    border-radius: 0px 0px 20px 20px;
                    background-color: white;
                    overflow-y: auto;
                    height: 100%;
                    margin-bottom: 3%;

                    &.eventos {
                        padding-top: 25%;
                        margin: auto auto;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    &.enlaces {
                        .enlace {
                            text-align: center;
                            padding: 15px;
                            border-bottom: 1px solid #c2c2c2;
                            background-color: #fafafa;
                            border-radius: 7.5px;
                            margin: 5px 10px;
                            display: block;

                            &::before,
                            &::after {
                                content: ' [+] ';
                            }
                        }
                    }



                



                    @include fuente(400, 14px, rgb(81, 81, 100));

                    

                    
                }
            }
        }
    }


}


div.main.empleados {
    margin: 10px 25px;
    padding: 10px 25px;

    .titulo {
        text-align: center;
        letter-spacing: 2px;
        font-size: large;
    }

    .bloqueInformacionFinal {
        padding: 10px 2px;
        background-color: rgba(255, 255, 255, 0.185);
        margin: 10px 0px;

        span span {
            color: darkred;
        }
    }

    .clasesPadre {
        margin: 2% 0;
        border-radius: 10px;

        &.color1 {
            background-color: rgb(245, 229, 204);
            border: 1px solid rgb(224, 224, 224);
        }

        &.color2 {
            background-color: #ffe5d8;
            border: 1px solid rgb(224, 224, 224);
        }
        &.colorFondo1{
            background-color: #ffffff;
            opacity: 1;
            background-size: 40px 40px;
            background-image: repeating-linear-gradient(45deg, #ffce92 0, #ffce92 4px, #ffffff 0, #ffffff 50%);
        }

        h4 {
            text-align: center;
            padding-top: 2%;

            span {
                padding: .5%;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 17px;
                background-color: rgba(255, 255, 255, 0.623);
                border: 1px solid white;
                border-radius: 5px;
            }
        }
    }



    .clases {
        display: flex;
        gap: 1%;

        //background-color: rgb(207, 133, 133);

        padding: 2%;
        border-radius: 10px;
        overflow: auto;

        &.color1 {
            background-color: rgb(245, 204, 204);

        }

        &.color2 {
            background-color: #ffe5d8;

        }

        &.borde {
            border: 1px solid rgb(224, 224, 224);
        }

        &.wrap {
            flex-wrap: wrap;

        }

        &.center {
            align-items: center;
            justify-content: center;
        }

        &.noWrap {
            flex-wrap: nowrap;
        }



        .bloqueCard {
            background-color: white;
            border-radius: 7.5px;
            border: 1px solid rgb(185, 185, 185);
            min-width: 375px;
            width: 200px;
            padding: 10px;
            padding-bottom: 0;
            margin-bottom: 1%;




            &.amplio {
                width: 425px;
                border: 1px solid rgb(185, 185, 185);

                .bloqueSeccion {
                    padding-bottom: 2%;
                    border-bottom: 1px solid rgb(226, 226, 229);

                    .bloqueSubseccion {
                        background-color: #fdecec;
                        padding: 2%;
                        max-height: 150px;
                        min-height: 150px;
                        overflow-y: auto;
                        border-radius: 20px;

                        a {
                            background-color: darkred;
                            color: white;
                            text-decoration: underline;
                        }

                    }

                    .tituloSeccion {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 16.5px;

                        span {
                            background-color: rgb(253, 225, 225);
                            padding: .5%;
                            text-decoration: underline;
                        }
                    }




                }
            }

            .tituloEmpl {
                text-align: center;
                letter-spacing: 1px;
                font-size: 17px;
                padding: 5%;
                border-bottom: 1px solid rgb(226, 226, 229);

                span {
                    font-weight: 700;
                }
            }





            .grid {
                display: grid;
                grid-template-columns: 30% 1fr;
                column-gap: 10px;
                row-gap: 7.5px;
                padding: 10px 0px;

                &.amplio {
                    grid-template-columns: 20% 1fr;

                }

                .subtitulo2 {
                    grid-column: 1 / span 2;
                    text-align: center;
                    font-size: 14px;
                    letter-spacing: 1.5px;

                }

                &.division {
                    border-top: 1px solid rgb(226, 226, 229);
                    min-height: 120px;
                }

                span {
                    display: block;
                }

                textarea {
                    resize: none;
                }



                .subtitulo {
                    text-align: right;
                    width: 100%;
                    font-weight: 500;
                    font-size: 16px;


                    &::after {
                        content: ":";
                    }

                    &.extraInformacion {
                        height: 100%;
                        margin: auto 0px;
                    }
                }

                input,
                textarea {
                    background-color: rgb(243, 243, 243);
                    border-radius: 7.5px;
                    padding: 0 5px;
                    font-family: $fuente;





                }

                .informacion {
                    text-align: left;
                    font-size: 15px;
                    border: 0px;

                    input {
                        border: 0.1px solid gray !important;
                        padding: 1%;
                        text-align: center;

                        //width: 90%;
                    }

                    .grid-3 {
                        display: grid;
                        grid-template-columns: 1fr 20px 1fr;

                        div {
                            text-align: center;

                            input {
                                width: 95%;
                                text-align: center;


                            }
                        }


                    }

                    &.extraInformacion {
                        height: 50px;

                    }
                }

            }

            .grid-botones {
                padding: 20px 0;
                border-top: 1px solid rgb(226, 226, 229);
                gap: 15px;
                // min-height: 70px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: rgb(253, 253, 255);

                input[type=submit].boton,
                a.boton {
                    color: rgb(0, 0, 0);
                    border-color: transparent;
                    padding: 10px 15px;
                    border-radius: 10px;
                    font-size: 15px;

                    &:disabled {
                        background-color: #888 !important;
                        color: white;

                        &:hover {
                            text-decoration: none !important;
                        }
                    }


                    &.eliminar {
                        background-color: rgb(252, 150, 150);

                        &:hover {
                            color: white;
                            background-color: darkred;
                            text-decoration: underline;
                        }
                    }

                    &.editar {
                        background-color: rgb(252, 216, 150);

                        &:hover {
                            color: white;
                            background-color: rgb(219, 182, 16);
                            text-decoration: underline;
                        }
                    }

                    &.alta {
                        background-color: rgb(250, 213, 255);

                        &:hover {
                            color: white;
                            background-color: rgb(236, 92, 255);

                            text-decoration: underline;
                        }
                    }

                    &.baja {
                        background-color: rgb(194, 231, 255);

                        &:hover {
                            color: white;
                            background-color: rgb(51, 174, 255);
                            text-decoration: underline;
                        }
                    }


                }
            }

            .informacionConsulta {
                background-color: rgb(226, 146, 146);
                margin: 0 20px;
                padding: 10px;
                border-radius: 7.5px;
                font-size: 15px;
                min-height: 20px;

                &:empty {
                    background-color: $colorBorde;

                }
            }
        }
    }

    
    .bloqueCard-Completo { //CSS Para tarjetas de Clases (Todos los campos)
        background-color: #ffdbc9e0;
        border-radius: 7.5px;
        border: 1px solid rgb(185, 185, 185);
        min-width: 650px;
        max-width: 650px;
        min-height: 750px;
        max-height: 750px;
        padding: 10px;
        padding-bottom: 0;
        margin-bottom: 1%;

        .grid-2{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            .bloqueSeccion {
                padding-bottom: 2%;
                border-bottom: 1px solid rgb(226, 226, 229);
                min-height: 270px;
                max-height: 270px;
                overflow-y: auto;
                font-size: 15px;

                
                .bloqueSubseccion {
                    background-color: rgb(255, 255, 255);
                    padding: 2%;
                    // max-height: 150px;
                    // min-height: 150px;
                    overflow-y: auto;
                    border-radius: 5px;
                    min-height: 200px;
                    max-height: 200px;

                    &:hover{
                        background-color: #fffafd;

                        
                    }

                    a {
                        background-color: darkred;
                        color: white;
                        text-decoration: underline;
                    }
                    .tituloSeccion {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 16.5px;
                }

        }




    

                .tituloSeccion {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 16.5px;

                    span {
                        //background-color: rgb(253, 225, 225);
                        padding: .5% 1%;
                        //text-decoration: underline;
                        background-color: white;
                        border: 1px solid rgb(241, 241, 241);
                        letter-spacing: 1px;

                    }
                }




            }
        }

        .tituloEmpl {
            text-align: center;
            letter-spacing: 1px;
            font-size: 17px;
            padding: 5%;
            border-bottom: 1px solid rgb(226, 226, 229);

            span {
                font-weight: 700;
            }
        }





        .grid {
            display: grid;
            grid-template-columns: 30% 1fr;
            column-gap: 10px;
            row-gap: 7.5px;
            padding: 10px 0px;

            &.amplio {
                grid-template-columns: 20% 1fr;

            }

            .subtitulo2 {
                grid-column: 1 / span 2;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1.5px;

            }

            &.division {
                border-top: 1px solid rgb(226, 226, 229);
                min-height: 120px;
            }

            span {
                display: block;
            }

            textarea {
                resize: none;
            }



            .subtitulo {
                text-align: right;
                width: 100%;
                font-weight: 500;
                font-size: 16px;


                &::after {
                    content: ":";
                }

                &.extraInformacion {
                    height: 100%;
                    margin: auto 0px;
                }
            }

            input,
            textarea {
                background-color: rgb(243, 243, 243);
                border-radius: 7.5px;
                padding: 0 5px;
                font-family: $fuente;





            }

            .informacion {
                text-align: left;
                font-size: 15px;
                border: 0px;

                input {
                    border: 0.1px solid gray !important;
                    padding: 1%;
                    text-align: center;

                    //width: 90%;
                }

                

                &.extraInformacion {
                    height: 50px;

                }
            }

        }

        .grid-botones {
            padding: 20px 0;
            border-top: 1px solid rgb(226, 226, 229);
            gap: 15px;
            // min-height: 70px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            //background-color: rgb(253, 253, 255);

            input[type=submit].boton,
            a.boton {
                color: rgb(0, 0, 0);
                border-color: transparent;
                padding: 10px 15px;
                border-radius: 10px;
                font-size: 15px;
                border: 1px solid rgb(190, 190, 190);

                &:disabled {
                    background-color: #888 !important;
                    color: white;

                    &:hover {
                        text-decoration: none !important;
                    }
                }


                &.eliminar {
                    background-color: rgb(252, 150, 150);

                    &:hover {
                        color: white;
                        background-color: darkred;
                        text-decoration: underline;
                    }
                }

                &.editar {
                    background-color: rgb(252, 216, 150);

                    &:hover {
                        color: white;
                        background-color: rgb(219, 182, 16);
                        text-decoration: underline;
                    }
                }

                &.alta {
                    background-color: rgb(250, 213, 255);

                    &:hover {
                        color: white;
                        background-color: rgb(236, 92, 255);

                        text-decoration: underline;
                    }
                }

                &.baja {
                    background-color: rgb(194, 231, 255);

                    &:hover {
                        color: white;
                        background-color: rgb(51, 174, 255);
                        text-decoration: underline;
                    }
                }
                &.azulClaro {
                    background-color: rgb(225, 243, 255);

                    &:hover {
                        color: white;
                        background-color: rgb(96, 191, 255);
                        text-decoration: underline;
                    }
                }


            }
        }

        .informacionConsulta {
            background-color: rgb(226, 146, 146);
            margin: 0 20px;
            padding: 10px;
            border-radius: 7.5px;
            font-size: 15px;
            min-height: 20px;

            &:empty {
                background-color: $colorBorde;

            }
        }
    }

.empleados {

    display: flex;
    gap: 50px;
    flex-wrap: wrap;



    .bloqueCard {
        background-color: white;
        border-radius: 7.5px;
        border: 1px solid #F9F9FA;
        min-width: 375px;
        width: 400px;
        padding: 10px;
        padding-bottom: 0;

        .tituloEmpl {
            text-align: center;
            letter-spacing: 1px;
            font-size: 17px;
            padding: 5%;
            border-bottom: 1px solid rgb(226, 226, 229);

            span {
                font-weight: 700;
            }
        }





        .grid {
            display: grid;
            grid-template-columns: 30% 1fr;
            column-gap: 10px;
            row-gap: 7.5px;
            padding: 10px 0px;

            .subtitulo2 {
                grid-column: 1 / span 2;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1.5px;

            }

            &.division {
                border-top: 1px solid rgb(226, 226, 229);
                min-height: 120px;
            }

            span {
                display: block;
            }

            textarea {
                resize: none;
            }



            .subtitulo {
                text-align: right;
                width: 100%;
                font-weight: 500;
                font-size: 16px;


                &::after {
                    content: ":";
                }

                &.extraInformacion {
                    height: 100%;
                    margin: auto 0px;
                }
            }

            input,
            textarea {
                background-color: rgb(243, 243, 243);
                border-radius: 7.5px;
                padding: 0 5px;
                font-family: $fuente;





            }

            .informacion {
                text-align: left;
                font-size: 15px;
                border: 0px;

                &.extraInformacion {
                    height: 50px;

                }
            }

        }

        .grid-botones {
            padding: 20px 0;
            border-top: 1px solid rgb(226, 226, 229);
            gap: 15px;
            // min-height: 70px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: rgb(253, 253, 255);

            input[type=submit].boton,
            a.boton {
                color: rgb(0, 0, 0);
                border-color: transparent;
                padding: 10px 15px;
                border-radius: 10px;
                font-size: 15px;

                &:disabled {
                    background-color: #888 !important;
                    color: white;

                    &:hover {
                        text-decoration: none !important;
                    }
                }


                &.eliminar {
                    background-color: rgb(252, 150, 150);

                    &:hover {
                        color: white;
                        background-color: darkred;
                        text-decoration: underline;
                    }
                }

                &.editar {
                    background-color: rgb(252, 216, 150);

                    &:hover {
                        color: white;
                        background-color: rgb(219, 182, 16);
                        text-decoration: underline;
                    }
                }

                &.alta {
                    background-color: rgb(250, 213, 255);

                    &:hover {
                        color: white;
                        background-color: rgb(236, 92, 255);

                        text-decoration: underline;
                    }
                }

                &.baja {
                    background-color: rgb(194, 231, 255);

                    &:hover {
                        color: white;
                        background-color: rgb(51, 174, 255);
                        text-decoration: underline;
                    }
                }


            }
        }

        .informacionConsulta {
            background-color: rgb(226, 146, 146);
            margin: 0 20px;
            padding: 10px;
            border-radius: 7.5px;
            font-size: 15px;
            min-height: 20px;

            &:empty {
                background-color: $colorBorde;

            }
        }
    }


}

.bloqueNuevo {
    padding: 2px;
    // border: 1px solid gray;
    border-radius: 10px;
    // background-color: rgb(247, 225, 225);
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    min-width: 85px;

    a.boton-especial {
        padding: 5px;
        margin: auto auto;
        min-width: 70px;


        background-color: white;

        //background-color: rgb(243, 208, 208);
        border: 1px solid black;

        border-radius: 5px;
        border-color: #CC0132;
    }
}




}
