@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-----------*/
/*-----------*/
/*-----------*/
/*Estilo Colores*/
body div.sidebar div.subBotones.visible {
  opacity: 1;
  transform: translateY(0%) translateX(0%);
  transition: opacity 0.5s, ease-in-out, transform 0.5s linear;
}

/*Estilos BG (Background)*/
.estilo1BG {
  background-color: rgb(255, 215, 223);
}

.estilo2BG {
  background-color: rgb(255, 223, 205);
}

.estilo3BG {
  background-color: rgb(212, 245, 201);
}

.estilo4BG {
  background-color: rgb(225, 223, 250);
}

.estilo5BG {
  background-color: rgb(201, 241, 245);
}

.estilo6BG {
  background-color: rgb(252, 199, 249);
}

.estilo7BG {
  background-color: rgb(204, 230, 255);
}

/*Estilos FG (Foreground)*/
.estilo1FG {
  color: rgb(255, 53, 94) !important;
}

.estilo2FG {
  color: rgb(255, 145, 83) !important;
}

.estilo3FG {
  color: rgb(104, 204, 69) !important;
}

.estilo4FG {
  color: rgb(135, 127, 237) !important;
}

.estilo5FG {
  color: rgb(7, 162, 173) !important;
}

.estilo6FG {
  color: rgb(206, 95, 200) !important;
}

.estilo7FG {
  color: rgb(71, 167, 255) !important;
}

.estilo1BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(255, 215, 223), rgb(255, 215, 223) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo2BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(255, 223, 205), rgb(255, 223, 205) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo3BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(212, 245, 201), rgb(212, 245, 201) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo4BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(225, 223, 250), rgb(225, 223, 250) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo5BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(201, 241, 245), rgb(201, 241, 245) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo6BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(252, 199, 249), rgb(252, 199, 249) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

.estilo7BG-SinConfirmar {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(-45deg, rgb(204, 230, 255), rgb(204, 230, 255) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 10px);
}

div.navGeneral .perfilNav a {
  width: 100%;
  display: flex;
  gap: 20px;
}
div.navGeneral .estilos {
  border-radius: 5px;
  height: 25px;
  width: 25px;
}
div.navGeneral .estilos div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 25px;
  width: 25px;
  font-size: 13px;
}

div.fondoPerfil {
  padding: 5px 4px;
  border-radius: 10px;
  font-weight: 600;
  margin: auto auto;
}
div.fondoPerfil.ampliacion {
  padding: 15px 25px !important;
}
div.fondoPerfil.estilo1 {
  background-color: rgb(255, 215, 223);
  color: rgb(255, 53, 94);
}
div.fondoPerfil.estilo2 {
  background-color: rgb(255, 223, 205);
  color: rgb(255, 145, 83);
}
div.fondoPerfil.estilo3 {
  background-color: rgb(212, 245, 201);
  color: rgb(104, 204, 69);
}
div.fondoPerfil.estilo4 {
  background-color: rgb(225, 223, 250);
  color: rgb(135, 127, 237);
}
div.fondoPerfil.estilo5 {
  background-color: rgb(201, 241, 245);
  color: rgb(7, 162, 173);
}
div.fondoPerfil.estilo6 {
  background-color: rgb(252, 199, 249);
  color: rgb(206, 95, 200);
}
div.fondoPerfil.estilo7 {
  background-color: rgb(204, 230, 255);
  color: rgb(71, 167, 255);
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter";
  background-color: #F4F4F5;
  display: grid;
}
body.inicio {
  grid-template-columns: 15% 85%;
}
body.inicioSinMenu {
  grid-template-columns: 0 100%;
}
body .tooltip {
  position: fixed;
  padding: 2px 5px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: normal 14px/1.3 "Inter";
  color: #333;
  background: #fff;
}
body div.sidebar {
  background-color: #F4F4F5;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  overflow-y: auto;
  /*Jerarquía de subBotones (Para 'subcategorias' dentro de 'categorias'
  -subBotones
      -a
          -subBotonesNav
              -contenedorSubB

  - subBotones (Agrupa todos los subBotones de forma que queden compactos en una clase contenedora, y también crea una línea que contendrán todos los subBotones en gris)
  - a (Está inmediatamente después para que cada elemento sea un enlace y no su texto sino todo el div)
  - subBotonesNav (Añade un margen entre cada elemento y es el botón en si (junto a <a>) y además cuando tiene la clase active, se coloca una línea vertical del tamaño del botón para indicarnos que se encuentra en dicho botón, también permite añadir margin hacia arriba y hacia abajo (sin alterar la línea active))
  - contenedorSubB (Permite añadir margen y padding de izquierda a derecha), si añadimos hacia arriba o hacia abajo se tiene en cuenta en la linea de 'subBotonesNav.active'
  */
}
body div.sidebar div.logo img {
  width: 120px;
  display: block;
  height: 40px;
  margin: auto auto;
  padding-bottom: 62px;
}
body div.sidebar div.botonesNav {
  padding: 6px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  border: 0.5px solid transparent;
  /*Se pasa de div a span, para que semánticamente se mantenga más correcto*/
}
body div.sidebar div.botonesNav.especial {
  margin-top: 80px !important;
  margin: 0px 10px;
  height: 50px !important;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body div.sidebar div.botonesNav.especial div.imgPersonalizada {
  width: 28px;
  height: 28px;
  display: flex;
  border: 1px solid #F4F4F5;
  border-radius: 10px;
}
body div.sidebar div.botonesNav.especial div.imgPersonalizada span {
  margin: auto 0;
  font-weight: 550;
  padding: 0;
}
body div.sidebar div.botonesNav a {
  display: contents;
}
body div.sidebar div.botonesNav:hover, body div.sidebar div.botonesNav.active {
  background-color: #E3E4E5;
  border: 0.5px solid transparent;
}
body div.sidebar div.botonesNav img {
  padding: 1% 1% 1% 1%;
}
body div.sidebar div.botonesNav span,
body div.sidebar div.botonesNav div {
  padding: 1% 3%;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: rgb(30, 30, 49);
}
body div.sidebar div.botonesNav .expandirMenu {
  padding-right: 5%;
  display: flex;
  width: 30px;
}
body div.sidebar div.botonesNav .flecha {
  background-color: transparent;
  border: transparent 1px solid;
  border-radius: 4px;
}
body div.sidebar div.botonesNav .flecha:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}
body div.sidebar div.botonesNav .flecha img {
  height: 12px;
  width: 12px;
  margin: auto auto;
}
body div.sidebar div.subBotones {
  border-left: 2px solid #E2E2E5;
  font-weight: 500;
  margin-left: 28px;
}
body div.sidebar div.subBotones.hidden {
  transform: translateY(0%) translateX(-120%);
  opacity: 0;
  height: 0px;
  transition: transform 0.5s linear, opacity 0.5s linear, height 0.5s linear;
}
body div.sidebar div.subBotones.visible.Bandeja {
  height: 82px;
}
body div.sidebar div.subBotones.visible.Perfil {
  height: 82px;
}
body div.sidebar div.subBotones.visible.Empleados {
  height: 82px;
}
body div.sidebar div.subBotones.visible.Calendario {
  height: 82px;
}
body div.sidebar div.subBotones a {
  border-radius: 8px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: rgb(30, 30, 49);
  width: 100%;
}
body div.sidebar div.subBotones a div.subBotonesNav {
  margin-top: 12px;
  margin-bottom: 12px;
}
body div.sidebar div.subBotones a div.subBotonesNav.active, body div.sidebar div.subBotones a div.subBotonesNav:hover {
  border-left: 2px solid #515164;
  margin-left: -2px;
}
body div.sidebar div.subBotones .contenedorSubB {
  margin-left: 20px;
}
body div.sidebar .tituloNav {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 1%;
}
body div.sidebar .navTexto {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
}
body .submain {
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 4px 12px -8px #F4F4F5, 0px 1px 3px #F4F4F5;
}
body div.paneles.inicio {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35vh 35vh;
  overflow-y: auto;
  gap: 20px;
  padding: 0px 10px;
}
body div.paneles.inicio div.panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px -8px #F4F4F5, 0px 1px 3px #F4F4F5;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: center;
  margin: auto auto;
  transition: all 0.2s ease;
}
body div.paneles.inicio div.panel div.encabezado {
  font-weight: 600;
  font-size: 14px;
  color: rgb(81, 81, 100);
  border-bottom: 0.25px solid #F4F4F5;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
}
body div.paneles.inicio div.panel div.encabezado p {
  margin: 3% 5%;
}
body div.paneles.inicio div.panel div.contenido {
  display: block;
  flex-direction: row;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  overflow-y: auto;
  height: 100%;
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 14px;
  color: rgb(81, 81, 100);
}
body div.paneles.inicio div.panel div.contenido.eventos {
  padding-top: 25%;
  margin: auto auto;
  font-weight: 600;
  text-transform: uppercase;
}
body div.paneles.inicio div.panel div.contenido.enlaces .enlace {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #c2c2c2;
  background-color: #fafafa;
  border-radius: 7.5px;
  margin: 5px 10px;
  display: block;
}
body div.paneles.inicio div.panel div.contenido.enlaces .enlace::before, body div.paneles.inicio div.panel div.contenido.enlaces .enlace::after {
  content: " [+] ";
}

div.main.empleados {
  margin: 10px 25px;
  padding: 10px 25px;
}
div.main.empleados .titulo {
  text-align: center;
  letter-spacing: 2px;
  font-size: large;
}
div.main.empleados .bloqueInformacionFinal {
  padding: 10px 2px;
  background-color: rgba(255, 255, 255, 0.185);
  margin: 10px 0px;
}
div.main.empleados .bloqueInformacionFinal span span {
  color: darkred;
}
div.main.empleados .clasesPadre {
  margin: 2% 0;
  border-radius: 10px;
}
div.main.empleados .clasesPadre.color1 {
  background-color: rgb(245, 229, 204);
  border: 1px solid rgb(224, 224, 224);
}
div.main.empleados .clasesPadre.color2 {
  background-color: #ffe5d8;
  border: 1px solid rgb(224, 224, 224);
}
div.main.empleados .clasesPadre.colorFondo1 {
  background-color: #ffffff;
  opacity: 1;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(45deg, #ffce92 0, #ffce92 4px, #ffffff 0, #ffffff 50%);
}
div.main.empleados .clasesPadre h4 {
  text-align: center;
  padding-top: 2%;
}
div.main.empleados .clasesPadre h4 span {
  padding: 0.5%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid white;
  border-radius: 5px;
}
div.main.empleados .clases {
  display: flex;
  gap: 1%;
  padding: 2%;
  border-radius: 10px;
  overflow: auto;
}
div.main.empleados .clases.color1 {
  background-color: rgb(245, 204, 204);
}
div.main.empleados .clases.color2 {
  background-color: #ffe5d8;
}
div.main.empleados .clases.borde {
  border: 1px solid rgb(224, 224, 224);
}
div.main.empleados .clases.wrap {
  flex-wrap: wrap;
}
div.main.empleados .clases.center {
  align-items: center;
  justify-content: center;
}
div.main.empleados .clases.noWrap {
  flex-wrap: nowrap;
}
div.main.empleados .clases .bloqueCard {
  background-color: white;
  border-radius: 7.5px;
  border: 1px solid rgb(185, 185, 185);
  min-width: 375px;
  width: 200px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 1%;
}
div.main.empleados .clases .bloqueCard.amplio {
  width: 425px;
  border: 1px solid rgb(185, 185, 185);
}
div.main.empleados .clases .bloqueCard.amplio .bloqueSeccion {
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(226, 226, 229);
}
div.main.empleados .clases .bloqueCard.amplio .bloqueSeccion .bloqueSubseccion {
  background-color: #fdecec;
  padding: 2%;
  max-height: 150px;
  min-height: 150px;
  overflow-y: auto;
  border-radius: 20px;
}
div.main.empleados .clases .bloqueCard.amplio .bloqueSeccion .bloqueSubseccion a {
  background-color: darkred;
  color: white;
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard.amplio .bloqueSeccion .tituloSeccion {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16.5px;
}
div.main.empleados .clases .bloqueCard.amplio .bloqueSeccion .tituloSeccion span {
  background-color: rgb(253, 225, 225);
  padding: 0.5%;
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard .tituloEmpl {
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  padding: 5%;
  border-bottom: 1px solid rgb(226, 226, 229);
}
div.main.empleados .clases .bloqueCard .tituloEmpl span {
  font-weight: 700;
}
div.main.empleados .clases .bloqueCard .grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 7.5px;
  padding: 10px 0px;
}
div.main.empleados .clases .bloqueCard .grid.amplio {
  grid-template-columns: 20% 1fr;
}
div.main.empleados .clases .bloqueCard .grid .subtitulo2 {
  grid-column: 1/span 2;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
}
div.main.empleados .clases .bloqueCard .grid.division {
  border-top: 1px solid rgb(226, 226, 229);
  min-height: 120px;
}
div.main.empleados .clases .bloqueCard .grid span {
  display: block;
}
div.main.empleados .clases .bloqueCard .grid textarea {
  resize: none;
}
div.main.empleados .clases .bloqueCard .grid .subtitulo {
  text-align: right;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}
div.main.empleados .clases .bloqueCard .grid .subtitulo::after {
  content: ":";
}
div.main.empleados .clases .bloqueCard .grid .subtitulo.extraInformacion {
  height: 100%;
  margin: auto 0px;
}
div.main.empleados .clases .bloqueCard .grid input,
div.main.empleados .clases .bloqueCard .grid textarea {
  background-color: rgb(243, 243, 243);
  border-radius: 7.5px;
  padding: 0 5px;
  font-family: "Inter";
}
div.main.empleados .clases .bloqueCard .grid .informacion {
  text-align: left;
  font-size: 15px;
  border: 0px;
}
div.main.empleados .clases .bloqueCard .grid .informacion input {
  border: 0.1px solid gray !important;
  padding: 1%;
  text-align: center;
}
div.main.empleados .clases .bloqueCard .grid .informacion .grid-3 {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
}
div.main.empleados .clases .bloqueCard .grid .informacion .grid-3 div {
  text-align: center;
}
div.main.empleados .clases .bloqueCard .grid .informacion .grid-3 div input {
  width: 95%;
  text-align: center;
}
div.main.empleados .clases .bloqueCard .grid .informacion.extraInformacion {
  height: 50px;
}
div.main.empleados .clases .bloqueCard .grid-botones {
  padding: 20px 0;
  border-top: 1px solid rgb(226, 226, 229);
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 253, 255);
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton,
div.main.empleados .clases .bloqueCard .grid-botones a.boton {
  color: rgb(0, 0, 0);
  border-color: transparent;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton:disabled,
div.main.empleados .clases .bloqueCard .grid-botones a.boton:disabled {
  background-color: #888 !important;
  color: white;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton:disabled:hover,
div.main.empleados .clases .bloqueCard .grid-botones a.boton:disabled:hover {
  text-decoration: none !important;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.eliminar,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.eliminar {
  background-color: rgb(252, 150, 150);
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.eliminar:hover,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.eliminar:hover {
  color: white;
  background-color: darkred;
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.editar,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.editar {
  background-color: rgb(252, 216, 150);
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.editar:hover,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.editar:hover {
  color: white;
  background-color: rgb(219, 182, 16);
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.alta,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.alta {
  background-color: rgb(250, 213, 255);
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.alta:hover,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.alta:hover {
  color: white;
  background-color: rgb(236, 92, 255);
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.baja,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.baja {
  background-color: rgb(194, 231, 255);
}
div.main.empleados .clases .bloqueCard .grid-botones input[type=submit].boton.baja:hover,
div.main.empleados .clases .bloqueCard .grid-botones a.boton.baja:hover {
  color: white;
  background-color: rgb(51, 174, 255);
  text-decoration: underline;
}
div.main.empleados .clases .bloqueCard .informacionConsulta {
  background-color: rgb(226, 146, 146);
  margin: 0 20px;
  padding: 10px;
  border-radius: 7.5px;
  font-size: 15px;
  min-height: 20px;
}
div.main.empleados .clases .bloqueCard .informacionConsulta:empty {
  background-color: #F4F4F5;
}
div.main.empleados .bloqueCard-Completo {
  background-color: rgba(255, 219, 201, 0.8784313725);
  border-radius: 7.5px;
  border: 1px solid rgb(185, 185, 185);
  min-width: 650px;
  max-width: 650px;
  min-height: 750px;
  max-height: 750px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 1%;
}
div.main.empleados .bloqueCard-Completo .grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion {
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(226, 226, 229);
  min-height: 270px;
  max-height: 270px;
  overflow-y: auto;
  font-size: 15px;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .bloqueSubseccion {
  background-color: rgb(255, 255, 255);
  padding: 2%;
  overflow-y: auto;
  border-radius: 5px;
  min-height: 200px;
  max-height: 200px;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .bloqueSubseccion:hover {
  background-color: #fffafd;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .bloqueSubseccion a {
  background-color: darkred;
  color: white;
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .bloqueSubseccion .tituloSeccion {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16.5px;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .tituloSeccion {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16.5px;
}
div.main.empleados .bloqueCard-Completo .grid-2 .bloqueSeccion .tituloSeccion span {
  padding: 0.5% 1%;
  background-color: white;
  border: 1px solid rgb(241, 241, 241);
  letter-spacing: 1px;
}
div.main.empleados .bloqueCard-Completo .tituloEmpl {
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  padding: 5%;
  border-bottom: 1px solid rgb(226, 226, 229);
}
div.main.empleados .bloqueCard-Completo .tituloEmpl span {
  font-weight: 700;
}
div.main.empleados .bloqueCard-Completo .grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 7.5px;
  padding: 10px 0px;
}
div.main.empleados .bloqueCard-Completo .grid.amplio {
  grid-template-columns: 20% 1fr;
}
div.main.empleados .bloqueCard-Completo .grid .subtitulo2 {
  grid-column: 1/span 2;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
}
div.main.empleados .bloqueCard-Completo .grid.division {
  border-top: 1px solid rgb(226, 226, 229);
  min-height: 120px;
}
div.main.empleados .bloqueCard-Completo .grid span {
  display: block;
}
div.main.empleados .bloqueCard-Completo .grid textarea {
  resize: none;
}
div.main.empleados .bloqueCard-Completo .grid .subtitulo {
  text-align: right;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}
div.main.empleados .bloqueCard-Completo .grid .subtitulo::after {
  content: ":";
}
div.main.empleados .bloqueCard-Completo .grid .subtitulo.extraInformacion {
  height: 100%;
  margin: auto 0px;
}
div.main.empleados .bloqueCard-Completo .grid input,
div.main.empleados .bloqueCard-Completo .grid textarea {
  background-color: rgb(243, 243, 243);
  border-radius: 7.5px;
  padding: 0 5px;
  font-family: "Inter";
}
div.main.empleados .bloqueCard-Completo .grid .informacion {
  text-align: left;
  font-size: 15px;
  border: 0px;
}
div.main.empleados .bloqueCard-Completo .grid .informacion input {
  border: 0.1px solid gray !important;
  padding: 1%;
  text-align: center;
}
div.main.empleados .bloqueCard-Completo .grid .informacion.extraInformacion {
  height: 50px;
}
div.main.empleados .bloqueCard-Completo .grid-botones {
  padding: 20px 0;
  border-top: 1px solid rgb(226, 226, 229);
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton {
  color: rgb(0, 0, 0);
  border-color: transparent;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid rgb(190, 190, 190);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton:disabled,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton:disabled {
  background-color: #888 !important;
  color: white;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton:disabled:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton:disabled:hover {
  text-decoration: none !important;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.eliminar,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.eliminar {
  background-color: rgb(252, 150, 150);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.eliminar:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.eliminar:hover {
  color: white;
  background-color: darkred;
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.editar,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.editar {
  background-color: rgb(252, 216, 150);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.editar:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.editar:hover {
  color: white;
  background-color: rgb(219, 182, 16);
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.alta,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.alta {
  background-color: rgb(250, 213, 255);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.alta:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.alta:hover {
  color: white;
  background-color: rgb(236, 92, 255);
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.baja,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.baja {
  background-color: rgb(194, 231, 255);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.baja:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.baja:hover {
  color: white;
  background-color: rgb(51, 174, 255);
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.azulClaro,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.azulClaro {
  background-color: rgb(225, 243, 255);
}
div.main.empleados .bloqueCard-Completo .grid-botones input[type=submit].boton.azulClaro:hover,
div.main.empleados .bloqueCard-Completo .grid-botones a.boton.azulClaro:hover {
  color: white;
  background-color: rgb(96, 191, 255);
  text-decoration: underline;
}
div.main.empleados .bloqueCard-Completo .informacionConsulta {
  background-color: rgb(226, 146, 146);
  margin: 0 20px;
  padding: 10px;
  border-radius: 7.5px;
  font-size: 15px;
  min-height: 20px;
}
div.main.empleados .bloqueCard-Completo .informacionConsulta:empty {
  background-color: #F4F4F5;
}
div.main.empleados .empleados {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
div.main.empleados .empleados .bloqueCard {
  background-color: white;
  border-radius: 7.5px;
  border: 1px solid #F9F9FA;
  min-width: 375px;
  width: 400px;
  padding: 10px;
  padding-bottom: 0;
}
div.main.empleados .empleados .bloqueCard .tituloEmpl {
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  padding: 5%;
  border-bottom: 1px solid rgb(226, 226, 229);
}
div.main.empleados .empleados .bloqueCard .tituloEmpl span {
  font-weight: 700;
}
div.main.empleados .empleados .bloqueCard .grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 7.5px;
  padding: 10px 0px;
}
div.main.empleados .empleados .bloqueCard .grid .subtitulo2 {
  grid-column: 1/span 2;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
}
div.main.empleados .empleados .bloqueCard .grid.division {
  border-top: 1px solid rgb(226, 226, 229);
  min-height: 120px;
}
div.main.empleados .empleados .bloqueCard .grid span {
  display: block;
}
div.main.empleados .empleados .bloqueCard .grid textarea {
  resize: none;
}
div.main.empleados .empleados .bloqueCard .grid .subtitulo {
  text-align: right;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}
div.main.empleados .empleados .bloqueCard .grid .subtitulo::after {
  content: ":";
}
div.main.empleados .empleados .bloqueCard .grid .subtitulo.extraInformacion {
  height: 100%;
  margin: auto 0px;
}
div.main.empleados .empleados .bloqueCard .grid input,
div.main.empleados .empleados .bloqueCard .grid textarea {
  background-color: rgb(243, 243, 243);
  border-radius: 7.5px;
  padding: 0 5px;
  font-family: "Inter";
}
div.main.empleados .empleados .bloqueCard .grid .informacion {
  text-align: left;
  font-size: 15px;
  border: 0px;
}
div.main.empleados .empleados .bloqueCard .grid .informacion.extraInformacion {
  height: 50px;
}
div.main.empleados .empleados .bloqueCard .grid-botones {
  padding: 20px 0;
  border-top: 1px solid rgb(226, 226, 229);
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 253, 255);
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton {
  color: rgb(0, 0, 0);
  border-color: transparent;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton:disabled,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton:disabled {
  background-color: #888 !important;
  color: white;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton:disabled:hover,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton:disabled:hover {
  text-decoration: none !important;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.eliminar,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.eliminar {
  background-color: rgb(252, 150, 150);
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.eliminar:hover,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.eliminar:hover {
  color: white;
  background-color: darkred;
  text-decoration: underline;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.editar,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.editar {
  background-color: rgb(252, 216, 150);
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.editar:hover,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.editar:hover {
  color: white;
  background-color: rgb(219, 182, 16);
  text-decoration: underline;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.alta,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.alta {
  background-color: rgb(250, 213, 255);
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.alta:hover,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.alta:hover {
  color: white;
  background-color: rgb(236, 92, 255);
  text-decoration: underline;
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.baja,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.baja {
  background-color: rgb(194, 231, 255);
}
div.main.empleados .empleados .bloqueCard .grid-botones input[type=submit].boton.baja:hover,
div.main.empleados .empleados .bloqueCard .grid-botones a.boton.baja:hover {
  color: white;
  background-color: rgb(51, 174, 255);
  text-decoration: underline;
}
div.main.empleados .empleados .bloqueCard .informacionConsulta {
  background-color: rgb(226, 146, 146);
  margin: 0 20px;
  padding: 10px;
  border-radius: 7.5px;
  font-size: 15px;
  min-height: 20px;
}
div.main.empleados .empleados .bloqueCard .informacionConsulta:empty {
  background-color: #F4F4F5;
}
div.main.empleados .bloqueNuevo {
  padding: 2px;
  border-radius: 10px;
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  min-width: 85px;
}
div.main.empleados .bloqueNuevo a.boton-especial {
  padding: 5px;
  margin: auto auto;
  min-width: 70px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  border-color: #CC0132;
}/*# sourceMappingURL=style.css.map */